@import '../../layouts/variables';

.quote-section {
  .quote {
    max-width: 780px;

    p.content {
      margin-bottom: 2rem;
      line-height: 32px;
      font-size: 1.25rem;
    }

    p.author:before {
      display: block;
      content: '';
      width: 60px;
      height: 8px;
      background: $grey-100;
      margin: auto;
      margin-bottom: 1rem;
    }

    p.author {
      font-weight: 400;
    }

    p.company {
      text-transform: uppercase;
      font-size: 0.875rem;
      color: $blue-400;
      font-weight: 700;
    }
  }
}
