@import '../../layouts/variables';

.use-cases-blocks {
    h3{
        color: $blue-700;
    }

    .block {
        display: flex;
        box-shadow: $box-shadow;
        padding: 2.5rem;
        height: 100%;

        img {
            margin-right: 1rem;
            width: 150px;
            max-height: 150px;
            align-self: center;
        }

        h5{
            color: $blue-300;
        }

        p{
            font-size: 1rem;
        }
    }
}