@import '../../layouts/variables';

.checkbox-line {
  color: $grey-500;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;

  &.light{
    color: $white;
  }

  .mt-2px {
    margin-top: 2px;
  }
}
