$blue-100: #98cdff;
$blue-300: #1d8ceb;
$blue-350: #1B9DFF;
$blue-400: #155bfb;
$blue-700: #24368a;
$blue-900: #24368a;
$blue-1000: #1f2b66;

$grey-000: #f7f7f7;
$grey-100: #e0e0e0;
$grey-200: #cfcfcf;
$grey-300: #bdbdbd;
$grey-500: #485371;

$white: #fff;
$black: #000;

$green: #8bc34a;
$red: #ec6b6b;

$shadow-color: rgba(36, 54, 138, 0.2);
$box-shadow: 0px 7px 20px $shadow-color;

$open-sans: 'Open Sans', sans-serif;
$fjalla-one: 'Fjalla One', sans-serif;

$linkedin: #1b9dff;
